html, body {
  margin: auto;
  width: 100%;
  background: #ffffff;
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: 'Nanum Pen Script', cursive;
}

.content {
  margin-top: 1rem;
  text-align: center;
  align-items: center;
}

.content > h1{
  font-size: 3rem;
  color: #56a5eb;
  display: inline-block;
}
.content > h3{
  font-size: 2rem;
  color: #56a5eb;
  display: inline-block;
}

.content > a {
  background: orange;
  width: 180px;
  padding: 8px;
  color: white;
  font-size: 1.5rem;
  border: 3px solid white;
  display:block;
  text-decoration: none;
  text-align: center;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, -10%);
  transition: all .1s ease-in;
  
}

.content > a:hover {
  top: -1px;
  box-shadow: 0 4px 5px rgba(255,99,71, 0.4);
}


.rec {
  width : 25%;
  margin-left: auto;
  margin-right: auto;
  
}
.rec > p {
  font-size: 1.3rem;
  color:brown;
}
.rec > h2,h3{
  text-align: center;
}
.rec > h2 {
  margin-top:2rem;
  font-size:2rem
}
.rec > h3 {
  font-size: 1.6rem;
}
.rec > img{
  width: 70px;
  height: 110px;
  display: block;
  margin: auto;
}